@import 'mixins';
@import'variables';

h1 {
    font-family: $open-sans;
    @include pixels-to-rem($h1-pixels);
}

a {
    color: $white;

    &:hover {
        color: $black;
        cursor: pointer;
    }
}