@import 'variables';
@import 'mixins';

nav {
    background-color: $purpleBlue;
}

.menu {
    display: flex;
    flex-direction: row;
    line-height: 0.5rem;
    align-content: space-between;
}

.menu__item--packages {
    border-left: 2px solid $white;
    border-right: 2px solid $white;
    padding-right: 5px;
    padding-left: 5px;
}

.menu__item--home {
    padding-right: 5px;
}

.menu__item--contact {
    padding-left: 5px;
}

.header__text--primary {
    font-weight: $bold;
    @include pixels-to-rem($brand-name-pixels);
}