@import 'variables';

.cardContent__description {
    background-color: $orange;
    color: $white;

    &:hover {
        color: $black;
    }
}

.cardContent {
    border: 1px solid $orange;
    border-radius: none;

    a {
        cursor: pointer;
    }
}

.cardContent:hover {
    background-color: $lightOrange;
}