@import 'variables';

.cardContent__button {
    background-color: $orange;
    color: $white;
}

.cardContent {
    border: 1px solid $orange;
    border-radius: none;

    a {
        cursor: pointer;
    }
}

.cardContent:hover {
    background-color: $lightOrange;
}