//Color variables
$white: #ffffff;
$black:#000000;
$purpleBlue:#3c54a0;
$orange:#ff9000;
$lightPurple:#b8c1e1;
$lightOrange:#fdf6ec;

//Font variables
$open-sans: 'Open Sans';
$h1-pixels:36;
$brand-name-pixels:48;
$bold:800;