@import './partials/variables';
@import './partials/mixins';
@import './partials/blocktags';
@import './partials/header';
@import './partials/footer';


body {
    font-family: $open-sans;

}

.cards__item__link,
button[type="submit"] {
    background-color: $orange;
    border: none;

    &:hover {
        background-color: $black;
    }
}