@import './partials/variables';
@import './partials/mixins';
@import './partials/blocktags';
@import './partials/header';
@import './partials/footer';
@import './partials/packages';


body {
    font-family: $open-sans;

}

.cardContent__button,
.cards__item__link,
button[type="submit"] {
    background-color: $orange;
    border: none;
    color: $white;
}